@font-face {
   font-family: 'Charter Bold';
   font-display: swap;
   src: url('Charter Bold/font.ttf');
}
@font-face {
   font-family: 'Charter Regular';
   font-display: swap;
   src: url('Charter Regular/font.ttf');
}
