@font-face {
   font-family: 'Charter Regular';
   font-display: swap;
   src: url('file:///C:/Users/Saimo/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-11-08_155620/fonts/Charter%20Regular/font.ttf');
}
