@font-face {
   font-family: 'IBMPlexSans-Medium';
   font-display: swap;
   src: url('file:///C:/Users/Saimo/AppData/Local/Mobirise.com/Mobirise/projects/project-2026-01-13_214022/fonts/IBMPlexSans-Medium/font.ttf');
}
